@font-face {
  font-family: 'Roboto';
  src: local('Roboto Regular'),
  url('assets/fonts/roboto/roboto-regular.woff2') format('woff2'),
  url('assets/fonts/roboto/roboto-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'),
  url('assets/fonts/lato/Lato-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon/icomoon.eot?cc3xtb');
  src:  url('assets/fonts/icomoon/icomoon.eot?cc3xtb#iefix') format('embedded-opentype'),
  url('assets/fonts/icomoon/icomoon.ttf?cc3xtb') format('truetype'),
  url('assets/fonts/icomoon/icomoon.woff?cc3xtb') format('woff'),
  url('assets/fonts/icomoon/icomoon.svg?cc3xtb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}